<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")

    @RenderSection("scripts", required: false)

    <style type="text/css">
        .Link {
            color: white;
            font-weight: bold;
            -ms-flex-preferred-size: 80%;
            flex-basis: 80%;
            -ms-flex-positive: 1;
            flex-grow: 1;
            -ms-flex-align: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">INMOBILIARIA BSD</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="~/Views/Home/Index.cshtml">MENÚ PRINCIPAL<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapse" href="#">@Html.ActionLink("Documentos (OCR)", "OCR", "OCR", null, new { @class = "Link" })</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapse" href="#" tabindex="-1" aria-disabled="true">@Html.ActionLink("Validar Imagenes", "Index", "FindCropValidate", null, new { @class = "Link" })</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success my-auto my-sm-0" type="submit">Search</button>
                <button class="btn btn-dark my-auto my-sm-0" type="submit">Sesion</button>
            </form>
        </div>
    </nav>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Content/ImagesApp/Penthouse-Suite.jpg" width="200" height="350" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Content/ImagesApp/Penthouse.jpg" width="200" height="350" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Content/ImagesApp/Penthouse1.jpg" width="200" height="350" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - BSD ENTERPRISE</p>
        </footer>
    </div>

</body>
</html>
