@model ISAI_APP.Models.Autos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Autos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreAuto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreAuto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioCosto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioCosto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioVenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioVenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AñoModelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AñoModelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
