@{
    ViewBag.Title = "Home Page";
}
<form method="post">
    <div class="col-md-12 container">
        Name: <input id="txtName" name" type="text" class="container" placeholder="Nombre" title="Nombre" value="Ulises" />
    </div>
    <div class="col-md-12 container">
        FirstName: <input id="txtFirstName" name="firstName" type="text" class="container" placeholder="Apellido Materno" title="Apellido Paterno" value="Gonzalez" />
    </div>
    <div class="col-md-12 container">
        LastName: <input id="txtLastName" name="lastName" type="text" class="container" placeholder="Apellido Paterno" title="Apellido Materno" value="Juarez" />
    </div>

    <div class="col-md-12 container">
        CURP: <input id="txtCURP" name="curp" type="text" class="container" placeholder="CURP" title="CURP" value="GOJU950519" />
    </div>
    <div class="col-md-12 container">
        DateTime: <input id="txtFechaNacimiento" name="fechaNacimiento" type="text" class="container" title="Fecha de Nacimiento" value="19-05-2019" />
        <div id="Console"></div>
    </div>
    <div class="col-md-12 container">
        <button class="btn btn-outline-dark container" type="submit">@Html.ActionLink("Siguiente>>", "Index", "FindCropValidate")</button>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#Transacción</th>
                <th scope="col">Tipo Documento</th>
                <th scope="col">Documento Cliente</th>
                <th scope="col">Porcentaje</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-primary">
                <th scope="row">1</th>
                <td>INE</td>
                <td>INE ESCANEADA.JPG</td>
                <td>78%</td>
            </tr>
        </tbody>
    </table>

</form>
<h2>
    <!--Resultado: name: @ViewBag.name, firstName: @ViewBag.FirstName, lastName: @ViewBag.LastName, CURP: @ViewBag.CURP, fechaNacimiento: @ViewBag.FechaNacimiento-->
</h2>

<script>
function AddZero(num) {
    return (num >= 0 && num < 10) ? "0" + num : num + "";
}

window.onload = function() {
    var now = new Date();
    var strDateTime = [[AddZero(now.getDate()),
        AddZero(now.getMonth() + 1),
        now.getFullYear()].join("/"),
        [AddZero(now.getHours()),
        AddZero(now.getMinutes())].join(":"),
        now.getHours() >= 12 ? "PM" : "AM"].join(" ");
    document.getElementById("Console").innerHTML = "Now: " + strDateTime;
    };


    var name = $('#txtName').val();
    var firstName = $('#txtFirstName').val();
    var lastName = $('#txtLastName').val();
    var fechaNacimiento = $('#txtFechaNacimiento').val();
    var curp = $('#txtCURP').val();

    $.ajax({
            url: '@Url.Action("Parametros", "Home")',
        contentType: "application/json; charset=utf-8",
        data: { 'name': name, 'firstName': firstName, 'lastName': lastName, 'fechaNacimiento': fechaNacimiento, 'CURP': curp },
            type: "GET",
            cache: false,
            success: function (response) {
            },
            error: function (er) {
                alert("error");
           
            }//

        });
</script>